.categories {
    font-family: var(--font-family);
    color: var(--color-almost-black);
}

.categories-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.categories-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    a {
        background-color: #f3f4fb;
        display: flex;
        align-items: end;
        padding: 0 0 42px 35px;
        gap: 20px;    
        position: relative;
        overflow: hidden;
        span {
            font-size: 24px;
            font-weight: 700;
        }
        
        div {
            margin-bottom: 4px;
        }

        &:hover {
            div {
                margin-left: 10px;
            }
            .first-telephone-img {
                width: 195px;
                bottom: -40px;
                right: 10px;
            }
            .second-telephone-img  {
                width: 188px;
            }
            .tablet-img {
                width: 460px;
                right: -255px;
                bottom: 50px;
            }
            .smart-watch-img {
                transform: rotate(45deg);
                right: -70px;
                width: 308px;
            }
            .TV-img {
                right: -10px;
            }

            .audio-img {
                width: 293px;
                right: -70px;
                top: 20px;
            }
            
            .notebook-img {
                top: -20px;
                right: -60px;
            }
            
            .controller-img {
                transform: rotate(18deg);
                right: -40px;
            }
            
            .accessories-img {
                width: 154px;
                right: 0;
                bottom: -20px;
                transform: rotate(-45deg);
            }
            
        }
    }
}

.categories-first-box {
    display: flex;
    column-gap: 20px;
    height: 387px;

    a {
        flex: 0 1 33%;
    }
}

.categories-second-box {
    display: flex;
    column-gap: 20px;
    height: 250px;

    a {
        flex: 0 1 25%
    }
}

.categories-last-box {
    display: flex;
    column-gap: 20px;
    height: 320px;

    a {
        flex: 0 1 50%;
    }
}

.category-img {
    position: absolute;
    transition: .8s;
    right: 0;
}

.first-telephone-img {
    bottom: -60px;
    right: -30px;
    width: 179px;
}

.second-telephone-img {
    bottom: -100px;
    right: -80px;
    width: 172px;
}

.tablet-img {
    width: 399px;
    right: -225px;
    bottom: 50px;
}

.smart-watch-img {
    width: 287px;
    top: 20px;
    right: -130px;
}

.audio-img {
    width: 283px;
    right: -90px;
    top: 20px;
}

.notebook-img {
    top: -20px;
    right: -90px;
}

.controller-img {
    width: 225px;
    right: -75px;
    top: -20px;
}

.accessories-img {
    width: 134px;
    right: -20px;
    bottom: -50px;
}

.fan-img {
    bottom: -200px;
    right: -10px;
    width: 344px;
}

.TV-img {
    bottom: -40px;
    right: -100px;
    width: 290px;
}

@media (max-width: 1400px) {
    .categories-first-box {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-between;
        a {
            flex: 0 1 calc(50% - 15px);

            &:last-child {
                flex: 0 1 100%;
                align-items: center;
                padding-bottom: 0;

                div {
                    margin-bottom: 0;
                }
            }
            &:hover {
                div {
                    margin-left: 10px;
                }
                .first-telephone-img {
                    width: 120px;
                    bottom: -50px;
                    right: 30px;
                }
                .second-telephone-img  {
                    width: 115px;
                }

                .tablet-img {
                    width: 280px;
                    right: -100px;
                    bottom: 0;
                }
                .smart-watch-img {
                    right: -70px;
                    width: 230px;
                }
                
            }
        }
    }

    .categories-second-box {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-between;
        height: 428px;

        a {
            flex: 0 1 calc(50% - 15px);
            height: 204px;
        }
    }

    .categories-last-box {
        flex-wrap: wrap;
        row-gap: 20px;
        height: 428px;
        a {
            flex: 0 1 100%;
            height: 204px;
            align-items: center;
            padding-bottom: 0;
            div {
                margin-bottom: 0;
            }

            &:hover {
                .TV-img {
                    right: -10px;
                }
            }
        }
    }

    .smart-watch-img {
        width: 197px;
        top: -30px;
        right: -50px;
    }

    .first-telephone-img {
        width: 110px;
        bottom: -50px;
        right: 30px;
    }

    .second-telephone-img {
        bottom: -70px;
        right: 0;
        width: 105px;
    }

    .tablet-img {
        width: 240px;
        right: -120px;
        bottom: 0;
    }

    .audio-img {
        width: 283px;
        right: -50px;
        top: 20px;
    }
    
    .notebook-img {
        top: -20px;
        right: -65px;
    }
    
    .controller-img {
        width: 225px;
        right: -35px;
        top: -20px;
    }

    .accessories-img {
        width: 134px;
        right: 0;
        bottom: -50px;
    }

    .fan-img {
        bottom: -75px;
        right: -10px;
        width: 204px;
    }

    .TV-img {
        bottom: 0;
        right: -5px;
        width: 150px;
    }
}

@media (max-width: 1200px) {
    .categories-wrapper {
        a {
            &:hover {
                .smart-watch-img {
                    transform: rotate(0);
                    width: 197px;
                    top: -30px;
                    right: -50px;
                }
            
                .first-telephone-img {
                    width: 110px;
                    bottom: -50px;
                    right: 30px;
                }
            
                .second-telephone-img {
                    bottom: -70px;
                    right: 0;
                    width: 105px;
                }
            
                .tablet-img {
                    width: 240px;
                    right: -120px;
                    bottom: 0;
                }
            
                .audio-img {
                    width: 283px;
                    right: -50px;
                    top: 20px;
                }
                
                .notebook-img {
                    top: -20px;
                    right: -65px;
                }
                
                .controller-img {
                    width: 225px;
                    right: -35px;
                    top: -20px;
                    transform: rotate(0);
                }
            
                .accessories-img {
                    width: 134px;
                    right: 0;
                    bottom: -50px;
                    transform: rotate(0);
                }
            
                .TV-img {
                    bottom: 0;
                    right: -5px;
                    width: 150px;
                }
            }
        }
    }
}

@media (max-width: 800px) {

    .categories-wrapper {
        a {
            &:hover {
                .first-telephone-img {
                    width: 80px;
                    bottom: -50px;
                    right: 50px;
                }
            
                .second-telephone-img {
                    bottom: -70px;
                    right: 20px;
                    width: 80px;
                }
            
                .smart-watch-img {
                    width: 147px;
                    top: -5px;
                    right: -30px;
                    transform: rotate(0);
                }
            
                .audio-img {
                    width: 223px;
                    right: -30px;
                    top: 0;
                }
                
                .notebook-img {
                    width: 204px;
                    right: -50px;
                    top: -30px;
                }
                
                .controller-img {
                    width: 185px;
                    right: -35px;
                    top: -20px;
                    transform: rotate(0);
                }
                
                .accessories-img {
                    width: 105px;
                    right: 20px;
                    bottom: -50px;
                    transform: rotate(0);
                }

                .TV-img {
                    bottom: 0;
                    right: -5px;
                    width: 150px;
                }

                .tablet-img {
                    width: 180px;
                    right: -70px;
                    bottom: 0;
                }
            }
        }
    }

    .categories-first-box {
        height: 460px;

        a {
            flex: 0 1 100%;
            height: 140px;
            align-items: center;
            padding-bottom: 0;

            div {
                margin-bottom: 0;
            }
        }
    }

    .categories-second-box {
        height: 620px;
        a {
            flex: 0 1 100%;
            height: 140px;
            align-items: center;
            padding-bottom: 0;

            div {
                margin-bottom: 0;
            }
        }
    }

    .categories-last-box {
        a {

            &:hover {
                .TV-img {
                    bottom: 0;
                    right: -5px;
                    width: 150px;
                }
            }
            
        }
    }

    .first-telephone-img {
        width: 80px;
        bottom: -50px;
        right: 50px;
    }

    .tablet-img {
        width: 180px;
        right: -70px;
        bottom: 0;
    }

    .second-telephone-img {
        bottom: -70px;
        right: 20px;
        width: 80px;
    }

    .smart-watch-img {
        width: 147px;
        top: -5px;
        right: -30px;
    }

    .audio-img {
        width: 223px;
        right: -30px;
        top: 0;
    }
    
    .notebook-img {
        width: 204px;
        right: -50px;
        top: -30px;
    }
    
    .controller-img {
        width: 185px;
        right: -35px;
        top: -20px;
    }
    
    .accessories-img {
        width: 105px;
        right: 20px;
        bottom: -50px;
    }

}


@media (max-width: 400px) {
    .categories-wrapper {
        a {
            &:hover {
                .first-telephone-img {
                    width: 60px;
                    bottom: -20px;
                    right: 10px;
                }
            
                .second-telephone-img {
                    bottom: -40px;
                    right: -10px;
                    width: 60px;
                }

                .smart-watch-img {
                    width: 147px;
                    top: -5px;
                    right: -30px;
                    transform: rotate(0);
                }
            
                .tablet-img {
                    width: 160px;
                    right: -80px;
                    bottom: 0;
                }
            
                .audio-img {
                    width: 163px;
                    right: -30px;
                    top: 10px;
                }
                
                .notebook-img {
                    width: 174px;
                    right: -60px;
                    top: -20px;
                }
                
                .controller-img {
                    width: 135px;
                    right: -45px;
                    top: 0;
                    transform: rotate(0);
                }
                
                .accessories-img {
                    width: 85px;
                    right: -20px;
                    bottom: -50px;
                    transform: rotate(0);
                }
            
                .TV-img {
                    bottom: 20px;
                    right: -5px;
                    width: 100px;
                }
            }
        }
    }

    .first-telephone-img {
        width: 60px;
        bottom: -20px;
        right: 10px;
    }

    .second-telephone-img {
        bottom: -40px;
        right: -10px;
        width: 60px;
    }

    .tablet-img {
        width: 160px;
        right: -80px;
        bottom: 0;
    }

    .audio-img {
        width: 163px;
        right: -30px;
        top: 10px;
    }
    
    .notebook-img {
        width: 174px;
        right: -60px;
        top: -20px;
    }
    
    .controller-img {
        width: 135px;
        right: -45px;
        top: 0;
    }
    
    .accessories-img {
        width: 85px;
        right: -20px;
        bottom: -50px;
    }

    .fan-img {
        bottom: -75px;
        right: -40px;
        width: 184px;
    }
    
}

@media (max-width: 390px) {
    .TV-img {
        bottom: 45px;
        right: -15px;
        width: 80px;
    }
}
