.specials_offers {
    font-family: var(--font-family);
    background-color: #f6f7fb;
    color: var(--color-almost-black);
    padding: 45px 0;
}

.specials_offers{
    overflow: hidden;
}

.mobile-link-hidden {
    display: none;
}

.offers_wrap {
    margin-bottom: 20px;
}

.section_head-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-weight: 900;
        font-size: 32px;
    }

    a {
        display: flex;
        gap: 20px;
        align-items: center;
        

        span {
            transition: .5s;
        }

        &:hover {
            span {
                margin-right: 10px;
            }
        }
    }
}

.svg_arrow {
    width: 10px;
    height: 18px;
    color: var(--bg-color-blue);
}


.slide_information {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;

    a {
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 12px;
        padding: 23px 26px 20px;
        color: var(--color-almost-black);
        border: 1px solid var(--color-almost-black);
    }
}

.offer-swiper {
    overflow: visible;
}

.offer-slide {
    height: 610px;
    overflow: hidden;
    padding: 50px 20px 0 40px;
    position: relative;
}

.slide-smartphone {
    background: linear-gradient(153deg, rgba(56, 95, 223, 0.1) 0%, rgba(40, 203, 51, 0.1) 100%);
}

.promo {
    background-color: #28cb33;
    padding: 3px 10px;
    border-radius: 3px;
    span {
        color: var(--color-white);
        font-size: 14px;
        font-weight: 400;
    }
}

.slide_text {
    span {
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: #2f2f2f;
    }  
}

.slide_price {
    display: flex;
    column-gap: 10px;
    align-items: center;  
    margin-bottom: 20px;
    span {
        color: var(--bg-color-blue);
        font-weight: 400;
        font-size: 26px;

        &:last-child {
            font-weight: 700;
            font-size: 36px;
        }
    }

}

.offer_slide-img {
    position: absolute;
    bottom: -140px;
    right: -110px;
}

.slide-smart-watch {
    background: linear-gradient(153deg, rgba(223, 56, 92, 0.1) 0%, rgba(51, 40, 203, 0.1) 100%);
}

.slide-case {
    background: linear-gradient(153deg, rgba(223, 153, 56, 0.1) 0%, rgba(40, 203, 51, 0.1) 100%);
}

.slide-img-case {
    right: -80px;
}

@media (max-width: 800px) {
    .desktop-link-hidden {
        display: none;
    }

    .mobile-link-hidden {
        margin-top: 24px;
        display: block;

        a {
            display: flex;
            gap: 20px;

            span {
                font-weight: 500;
            }
        }
    }

    .slide_text {
        span {
            font-size: 26px;
        }  
    }
}