<section class="about">
	<div class="container">
		<div class="about-store">
			<div class="about-store-info">
				<h1>О магазине</h1>
				<p>
					Магазин “NEVA GSM" представляет широкий выбор электроники и аксессуаров. Мы также предлагаем большой
					выбор бытовой техники для дома и офиса. Вся продукция поставляется официальными дистрибьюторами и
					имеет соответствующие сертификаты. Сейчас на рынке масса подделок под известные бренды – фальшивок в
					упаковке хорошего качества, которые могут ввести в заблуждение не только новичков, но и людей,
					считающих себя знатоками. Покупая любой товар в нашем магазине, вы можете быть уверены в
					стопроцентной оригинальности продукта.
				</p>
			</div>
			<div class="about-store-details">
				<div class="about-store-details-text">
					<h2>О магазине</h2>
					<p>Наш розничный магазин находится в <a href="">г. Санкт- Петербург</a></p>
					<p>
						Чтобы попасть в магазин нужно зайти внутрь ТЦ и идти до кафе-бара, напротив него вход в наш
						магазин. Поэтому вы можете получить выбранный товар прямо в день обращения.
					</p>
					<p>
						Если вы не нашли какой-либо продукт на нашем сайте, мы готовы привезти его вам под заказ. Мы с
						уверенностью можем сказать, что наши цены одни из самых низких в Москве и в Московской области.
						Мы смогли добиться этого за счёт оптимизации затрат на продвижение и логистику.
					</p>
                    <p class="bold">Желаем вам приятных покупок и надеемся на долгосрочное сотрудничество!</p>
				</div>
				<div class="about-store-details-img">
                    <img src="./img/about/store.png" alt="Вид магазина">
                </div>
			</div>
		</div>
	</div>
</section>
