<section class="deliveries_payment warranty-returns">
	<div class="container">
		<div class="payment">
			<h1>Гарантия и возврат</h1>
			<span>
				<a href="./index.html">Интернет магазин</a> предоставляет гарантию на весь спектр товара своим клиентам.
				Мы заботимся о вашем комфорте и уверенности при покупке, поэтому предоставляем возможность вернуть товар
				в случае необходимости и гарантируем качество наших продуктов. Здесь вы найдете ответы на часто
				задаваемые вопросы и пошаговую инструкцию по возврату товара. Если у вас возникнут дополнительные
				вопросы, наши специалисты готовы помочь вам в любое время.
			</span>
			<ol>
				<li><a href="#">Общие положения</a></li>
				<li><a href="#">Замена товаров </a></li>
				<li><a href="#">Выдержка из гражданского кодекса РФ</a></li>
				<li><a href="#">Выдержка из правил дистанционной торговли</a></li>
			</ol>
		</div>
		<div>
			<h3>Общие положения</h3>
			<span
				>Данный текст составлен согласно Закону РФ от 7 февраля 1992 г. N 2300-I «О защите прав потребителей» (с
				изменениями от 2 июня 1993 г., 9 января 1996 г., 17 декабря 1999 г., 30 декабря 2001 г., 22 августа, 2
				ноября, 21 декабря 2004 г.)Гарантия на проданные товары подразумевает под собой замену на аналогичные в
				случае невозможности ремонта.Ответственность за качество товара несет фирма-производитель.На все товары
				предоставляется гарантия в полном соответствии с Законом «О защите прав потребителей». Срок гарантии
				устанавливается производителем и указан в гарантийном талоне магазина.В случае обнаружения в изделии
				дефекта в течение гарантийного срока,замена изделия или его частей производится в магазине согласно
				условиям гарантийного обслуживания указанным в гарантийном талоне.Доставка изделия в магазин
				осуществляется покупателем самостоятельно. Правила и сроки нахождения изделия в магазине устанавливаются
				администрацией магазина.Гарантией не предусматриваются претензии относительно технических параметров
				изделий, если они соответствуют указанным производителем.Проверка упаковки, комплектации осуществляется
				после доставки заказа любыми способами, курьером, почтой, транспортной компании, самостоятельно, в
				пределах 15 рабочих дней со дня получения товара. Претензии к комплектации, документации, внешнему виду,
				техническим характеристикам и прочим качествам изделия после передачи товарораспорядительных документов
				не принимаются.Гарантийные обязательства недействительны, если изменён или удалён серийный номер
				изделия, имеются нарушения гарантийных пломб, этикеток и маркировок; при обнаружении следов
				самостоятельного ремонта изделий, при нарушении правил использования товара, если недостаток товара
				явился следствием небрежного обращения; применения товара не по назначению, нарушения условий и правил
				эксплуатации, изложенных в инструкции по эксплуатации, в т.ч. вследствие воздействия высоких или низких
				температур, высокой влажности или запыленности. А также если недостаток товара явился следствием
				несанкционированного тестирования товара или попыток внесения изменений в его конструкцию. Гарантия не
				распространяется на комбинезоны, нательное белье, носки, потника для шлема, наклейки, ленту для
				клюшки.Сроки службы и гарантийные сроки на товары устанавливает фирма-производитель. Информация о сроках
				службы товара, сроках гарантии, адреса и телефоны фирм-производителей уточняйте у менеджеров интернет
				магазина.</span
			>
		</div>
		<div>
			<h3>Замена товаров</h3>
			<span
				>Замена товара производится в течение 15 дней со дня продажи или получения товара. Товар считается
				ненадлежащим по качеству только согласно заключению директора интернет-магазина или заключению
				фирмы-производителю.Замена товара производится только при наличии упаковочной коробки, документации
				(товарный чек,кассовый чек) и и всех аксессуаров, входящих в первоначальный комплект поставки.</span
			>
		</div>
		<div>
			<h3>Выдержка из гражданского кодекса РФ</h3>
			<span>Утвержден Постановлением Правительства Российской Федерации от 19 января 1998 г. N 55 </span>
			<span>
				ПЕРЕЧЕНЬ НЕПРОДОВОЛЬСТВЕННЫХ ТОВАРОВ НАДЛЕЖАЩЕГО КАЧЕСТВА, НЕ ПОДЛЕЖАЩИХ ВОЗВРАТУ ИЛИ ОБМЕНУ НА
				АНАЛОГИЧНЫЙ ТОВАР ДРУГИХ РАЗМЕРА, ФОРМЫ, ГАБАРИТА, ФАСОНА, РАСЦВЕТКИ ИЛИ КОМПЛЕКТАЦИИ</span
			>
			<span
				>(в ред. Постановлений Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N 81)пункт 11. Технически
				сложные товары бытового назначения, на которые установлены гарантийные сроки (станки металлорежущие
				деревообрабатывающие бытовые; электробытовые машины и приборы; бытовая радиоэлектронная аппаратура;
				бытовая вычислительная и множительная техника; фото- и киноаппаратура; телефонные аппараты и
				факсимильная аппаратура; электромузыкальные инструменты; игрушки электронные, бытовое газовое
				оборудование и устройства)(в ред. Постановлений Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N
				81)</span
			>
		</div>
		<div>
			<h3>Выдержка из правил дистанционной торговли</h3>
			<span
				>ПРАВИТЕЛЬСТВО РОССИЙСКОЙ ФЕДЕРАЦИИ ПОСТАНОВЛЕНИЕот 27 сентября 2007 г. N 612ОБ УТВЕРЖДЕНИИ
				ПРАВИЛПРОДАЖИ ТОВАРОВ ДИСТАНЦИОННЫМ СПОСОБОМ
			</span>
			<span>
				пункт 21. Покупатель вправе отказаться от товара в любое время до его передачи, а после передачи товара
				- в течение 15 дней.</span
			>
			<span
				>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские
				свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у
				покупателя указанного документа не лишает его возможности ссылаться на другие доказательства
				приобретения товара у данного продавца.</span
			>
			<span>
				Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определённые
				свойства, если указанный товар может быть использован исключительно приобретающим его потребителем.
			</span>
			<span>
				При отказе покупателя от товара продавец должен возвратить ему сумму, уплаченную покупателем в
				соответствии с договором, за исключением расходов продавца на доставку товара от покупателя/ к
				покупателю, не позднее чем через 14 дней с даты предъявления покупателем соответствующего
				требования.</span
			>
			<span>
				Оформляя заказ на сайте, и выкупая его любыми способами, покупатель автоматически соглашается с данным
				гарантийным обязательством.</span
			>
		</div>
	</div>
</section>
