@use "./params" as *;

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@each $screen, $layout in $screen-layout-container {
	@media (min-width: $screen) {
		.container {
			max-width: $layout;
		}
	}
}
