<footer class="footer">
	<div class="container container-padding">
		<div class="footer_wrap">
			<div class="footer_contacts">
				<div class="navbar_logo">
					<a href="./index.html"">
						<svg><use xlink:href="./img/sprite.svg#logo" /></svg>
					</a>
				</div>
				<div class="contacts">
					<div class="contact_information">
						<div class="footer_contact-svg">
							<svg>
								<use xlink:href="./img/sprite.svg#nav-arrow" />
							</svg>
						</div>
						<span>Адрес тут</span>
					</div>
					<div class="contact_information">
						<div class="footer_contact-svg">
							<svg>
								<use xlink:href="./img/sprite.svg#clock" />
							</svg>
						</div>
						<span>Ежедневно: с 8:00 до 21:00</span>
					</div>
					<div class="contact_information">
						<div class="footer_contact-svg">
							<svg>
								<use xlink:href="./img/sprite.svg#telephone" />
							</svg>
						</div>
						<a href="tel:+79498454566">+7 949 845 45 66</a>
					</div>
				</div>
				<div class="alert">
					<span>
						Данный сайт носит исключительно информационный характер и ни при каких обстоятельствах не
						является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
					</span>
				</div>
			</div>

			<div class="footer_menu">
				<div class="menu_box">
					<h3>Меню</h3>
					<ul>
						<li><a href="./index.html"">Главная</a></li>
						<li>
							<a href="./delivery-and-payment.html">Доставка и оплата</a>
						</li>
						<li><a href="./warranty-and-returns.html">Гарантия</a></li>
						<li><a href="#">Ремонт</a></li>
					</ul>
				</div>
				<div class="menu_box footer-catalog">
					<h3>Каталог</h3>
					<div>
						<ul>
							<li><a href="./catalogs.html">Iphone</a></li>
							<li><a href="#">Ipad</a></li>
							<li><a href="#">Наушники</a></li>
							<li><a href="#">Кабеля</a></li>
							<li><a href="#">Зарядки</a></li>
							<li><a href="#">Чехлы</a></li>
						</ul>
						<ul>
							<li><a href="./catalogs.html">Iphone</a></li>
							<li><a href="#">Ipad</a></li>
							<li><a href="#">Наушники</a></li>
							<li><a href="#">Кабеля</a></li>
							<li><a href="#">Зарядки</a></li>
							<li><a href="#">Чехлы</a></li>
						</ul>
					</div>
				</div>
				<div class="menu_box useful-links">
					<h3>Полезные ссылки</h3>
					<ul>
						<li>
							<a href="#">
								<div class="footer_svg-box">
									<svg>
										<use xlink:href="./img/sprite.svg#footer-person" />
									</svg>
								</div>
								<span>Вход/Регистрация</span>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="footer_svg-box">
									<svg>
										<use xlink:href="./img/sprite.svg#footer-compare" />
									</svg>
								</div>
								<span>Сравнение товаров</span>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="footer_svg-box">
									<svg>
										<use xlink:href="./img/sprite.svg#footer-heart" />
									</svg>
								</div>
								<span>Избранное</span>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="footer_svg-box">
									<svg>
										<use xlink:href="./img/sprite.svg#footer-cart" />
									</svg>
								</div>
								<span>Корзина</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<span>© 2023 StoreComRu. All rights reserved</span>
		</div>
	</div>
</footer>
