<footer class="footer">
  <div class="container container-padding">
    <div class="footer_wrap">
      <div class="footer_contacts">
        <div class="navbar_logo">
          <svg class="logo_svg"><use xlink:href="./img/sprite.svg#logo" /></svg>
        </div>
        <div class="contacts">
          <div class="contact_information">
            <div class="address_svg footer_contact-svg">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#nav-arrow" />
              </svg>
            </div>
            <span>Адрес тут</span>
          </div>
          <div class="contact_information">
            <div class="time_svg footer_contact-svg">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#clock" />
              </svg>
            </div>
            <span>Ежедневно: с 8:00 до 21:00</span>
          </div>
          <div class="contact_information">
            <div class="number_svg footer_contact-svg">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#telephone" />
              </svg>
            </div>
            <a href="tel:+79498454566">+7 949 845 45 66</a>
          </div>
        </div>
        <div class="alert">
          <p>
            Данный сайт носит исключительно информационный характер и ни при
            каких обстоятельствах не является публичной офертой, определяемой
            положениями Статьи 437 Гражданского кодекса РФ.
          </p>
        </div>
      </div>

      <div class="footer_menu">
        <div class="menu_box">
          <h3 class="menu_box-text">Меню</h3>
          <ul class="menu_box-list">
            <li class="menu_box_list-item"><a href="#">Главная</a></li>
            <li class="menu_box_list-item">
              <a href="#">Доставка и оплата</a>
            </li>
            <li class="menu_box_list-item"><a href="#">Гарантия</a></li>
            <li class="menu_box_list-item"><a href="#">Ремонт</a></li>
          </ul>
        </div>
        <div class="menu_box catalog">
          <h3 class="menu_box-text">Каталог</h3>
          <div class="menu_box-flex">
            <ul class="menu_box-list">
              <li class="menu_box_list-item"><a href="#">Iphone</a></li>
              <li class="menu_box_list-item"><a href="#">Ipad</a></li>
              <li class="menu_box_list-item"><a href="#">Наушники</a></li>
              <li class="menu_box_list-item"><a href="#">Кабеля</a></li>
              <li class="menu_box_list-item"><a href="#">Зарядки</a></li>
              <li class="menu_box_list-item"><a href="#">Чехлы</a></li>
            </ul>
            <ul class="menu_box-list">
              <li class="menu_box_list-item"><a href="#">Iphone</a></li>
              <li class="menu_box_list-item"><a href="#">Ipad</a></li>
              <li class="menu_box_list-item"><a href="#">Наушники</a></li>
              <li class="menu_box_list-item"><a href="#">Кабеля</a></li>
              <li class="menu_box_list-item"><a href="#">Зарядки</a></li>
              <li class="menu_box_list-item"><a href="#">Чехлы</a></li>
            </ul>
          </div>
        </div>
        <div class="menu_box useful_links">
          <h3 class="menu_box-text">Полезные ссылки</h3>
          <ul class="menu_box-list">
            <li class="menu_box_list-item">
              <a href="#" class="menu_box_list_item-link">
                <div class="footer_svg-box">
                  <svg class="icon_svg">
                    <use xlink:href="./img/sprite.svg#footer-person" />
                  </svg>
                </div>
                <span>Вход/Регистрация</span>
              </a>
            </li>
            <li class="menu_box_list-item">
              <a href="#" class="menu_box_list_item-link">
                <div class="footer_svg-box">
                  <svg class="icon_svg">
                    <use xlink:href="./img/sprite.svg#footer-compare" />
                  </svg>
                </div>
                <span>Сравнение товаров</span>
              </a>
            </li>
            <li class="menu_box_list-item">
              <a href="#" class="menu_box_list_item-link">
                <div class="footer_svg-box">
                  <svg class="icon_svg">
                    <use xlink:href="./img/sprite.svg#footer-heart" />
                  </svg>
                </div>
                <span>Избранное</span>
              </a>
            </li>
            <li class="menu_box_list-item">
              <a href="#" class="menu_box_list_item-link">
                <div class="footer_svg-box">
                  <svg class="icon_svg">
                    <use xlink:href="./img/sprite.svg#footer-cart" />
                  </svg>
                </div>
                <span>Корзина</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
	<div class="container">
		<span>© 2023 StoreComRu. All rights reserved</span>
	</div>
  </div>
</footer>
