<meta charset="UTF-8">

<!-- Адаптирование страницы для мобильных устройств -->
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Запрет распознования номера телефона -->
<meta name="format-detection" content="telephone=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

<!-- Заголовок страницы -->
<title>@@title</title>

<!-- Данное значение часто используют(использовали) поисковые системы -->
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Подключение файлов стилей -->
<link rel="stylesheet" href="./css/style.min.css">