<header class="header">
  <div class="header-menu">
    <div class="container">
      <nav class="menu">
        <ul class="menu_list">
          <li class="list_item item_svg">
            <a href="#" class="item_link">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#home" />
              </svg>
            </a>
          </li>
          <li class="list_item">
            <a href="#" class="item_link">О компании</a>
          </li>
          <li class="list_item">
            <a href="#" class="item_link">Доставка и оплата</a>
          </li>
          <li class="list_item"><a href="#" class="item_link">Гарантия</a></li>
          <li class="list_item"><a href="#" class="item_link">В кредит</a></li>
          <li class="list_item"><a href="#" class="item_link">Trade in</a></li>
          <li class="list_item"><a href="#" class="item_link">Контакты</a></li>
        </ul>
        <ul class="menu_list">
          <li class="contact_item item_before">
            <div class="item_svg svg_margin">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#clock" />
              </svg>
            </div>
            <p>Ежедневно с 8:00 до 21:00</p>
          </li>
          <li class="contact_item">
            <div class="item_svg svg_margin">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#telephone" />
              </svg>
            </div>
            <a href="tel:+79498454566">+7 949 845 45 66</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-navbar">
    <div class="container">
      <div class="wrap">
        <div class="navbar_logo">
          <svg class="logo_svg"><use xlink:href="./img/sprite.svg#logo" /></svg>
        </div>
        <div class="navbar_catalog">
          <a href="#" class="catalog_btn" >
            <div class="btn_svg">
              <svg class="svg_square">
                <use xlink:href="./img/sprite.svg#btn_square" />
              </svg>
            </div>
            Каталог товаров
          </a>
        </div>
        <div class="navbar_search">
          <input type="text" class="search" placeholder="Что вы ищите?" />
          <div class="lens">
            <svg class="icon_svg">
              <use xlink:href="./img/sprite.svg#search" />
            </svg>
          </div>
        </div>
        <div class="navbar_icons">
          <div class="icons_svg">
            <a href="#">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#person" />
              </svg>
            </a>
          </div>
          <div class="icons_svg">
            <a href="#">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#compare" />
              </svg>
            </a>
          </div>
          <div class="icons_svg">
            <a href="#">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#heart" />
              </svg>
            </a>
          </div>
          <div class="icons_svg">
            <a href="#" class="icons_svg-link">
              <div class="cart-svg">
                <svg class="icon_svg">
                  <use xlink:href="./img/sprite.svg#cart" />
                </svg>
              </div>
              <span class="cart_bg-count">2</span>
              <span class="cart_count">58 589₽</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="categories">
    <div class="container">
      <ul class="categories_list">
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-smartphone">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#smartphone" />
              </svg>
            </div>
            <span>Телефоны</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-tablet">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#tablet" />
              </svg>
            </div>
            <span>Планшеты</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-smart-watch">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#smart-watch" />
              </svg>
            </div>
            <span>Часы</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-audio">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#audio" />
              </svg>
            </div>
            <span>Аудио</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-notebook">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#notebook" />
              </svg>
            </div>
            <span>Ноутбуки</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-game-console">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#game-console" />
              </svg>
            </div>
            <span>Приставки</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-home">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#category-home" />
              </svg>
            </div>
            <span>Для дома</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-TV">
              <svg class="icon_svg"><use xlink:href="./img/sprite.svg#TV" /></svg>
            </div>
            <span>Телевизоры</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-accessories">
              <svg class="icon_svg">
                <use xlink:href="./img/sprite.svg#accessories" />
              </svg>
            </div>
            <span>Аксессуары</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
