<header class="header">
  <div class="header-menu">
    <div class="container header-container">
      <nav>
        <ul>
          <li>
            <div>
              <a href="./index.html">
                <svg>
                  <use xlink:href="./img/sprite.svg#home" />
                </svg>
              </a>
            </div>
          </li>
          <li>
            <a href="./about.html">О компании</a>
          </li>
          <li>
            <a href="./delivery-and-payment.html">Доставка и оплата</a>
          </li>
          <li><a href="./warranty-and-returns.html">Гарантия</a></li>
          <li><a href="./credit.html">В кредит</a></li>
          <li><a href="./trade-in.html">Trade in</a></li>
          <li><a href="./contacts.html">Контакты</a></li>
        </ul>
        <ul>
          <li>
            <div>
              <svg>
                <use xlink:href="./img/sprite.svg#clock" />
              </svg>
            </div>
            <p>Ежедневно с 8:00 до 21:00</p>
          </li>
          <li>
            <div>
              <svg>
                <use xlink:href="./img/sprite.svg#telephone" />
              </svg>
            </div>
            <a href="tel:+79498454566">+7 949 845 45 66</a>
          </li>
        </ul>
      </nav> 
    </div>
  </div>
  <div class="header-navbar">
    <div class="container navbar-container">
      <ul>
        <li class="navbar_logo">
          <a href="./index.html"">
            <svg><use xlink:href="./img/sprite.svg#logo" /></svg>
          </a>
        </li>
        <li class="navbar_catalog">
          <a href="./catalogs.html">
            <div>
              <svg>
                <use xlink:href="./img/sprite.svg#btn_square" />
              </svg>
            </div>
            Каталог товаров
          </a>
        </li>
        <li class="navbar_search">
          <input type="text" placeholder="Что вы ищите?" />
          <div>
            <svg>
              <use xlink:href="./img/sprite.svg#search" />
            </svg>
          </div>
        </li>
        <li class="navbar_icons">
          <div>
            <a href="#">
              <svg>
                <use xlink:href="./img/sprite.svg#person" />
              </svg>
            </a>
          </div>
          <div>
            <a href="#">
              <svg>
                <use xlink:href="./img/sprite.svg#compare" />
              </svg>
            </a>
          </div>
          <div>
            <a href="#">
              <svg>
                <use xlink:href="./img/sprite.svg#heart" />
              </svg>
            </a>
          </div>
          <div class="icons_svg-link">
            <a href="#">
              <div>
                <svg>
                  <use xlink:href="./img/sprite.svg#cart" />
                </svg>
              </div>
              <p>2</p>
              <span>58 589₽</span>
            </a>
          </div>
        </li>
        <li class="mobile_navbar">
          <div class="mobile_navbar-icon">
            <button type="button">
              <div>
                <svg>
                  <use xlink:href="./img/sprite.svg#search" />
                </svg>
              </div>
            </button>
            <button class="burger" type="button">
              <div class="menu_burger burger-first"></div>
              <div class="menu_burger burger-second"></div>
              <div class="menu_burger burger-last"></div>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="categories">
    <div class="container">
      <div class="swiper" id="categories-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="./catalogs.html">
              <div class="svg-smartphone">
                <svg>
                  <use xlink:href="./img/sprite.svg#smartphone" />
                </svg>
              </div>
              <span>Телефоны</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./products.html">
              <div class="svg-tablet">
                <svg>
                  <use xlink:href="./img/sprite.svg#tablet" />
                </svg>
              </div>
              <span>Планшеты</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="svg-smart-watch">
                <svg>
                  <use xlink:href="./img/sprite.svg#smart-watch" />
                </svg>
              </div>
              <span>Часы</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="svg-audio">
                <svg>
                  <use xlink:href="./img/sprite.svg#audio" />
                </svg>
              </div>
              <span>Аудио</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="svg-notebook">
                <svg>
                  <use xlink:href="./img/sprite.svg#notebook" />
                </svg>
              </div>
              <span>Ноутбуки</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="svg-game-console">
                <svg>
                  <use xlink:href="./img/sprite.svg#game-console" />
                </svg>
              </div>
              <span>Приставки</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="svg-home">
                <svg>
                  <use xlink:href="./img/sprite.svg#category-home" />
                </svg>
              </div>
              <span>Для дома</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="svg-TV">
                <svg><use xlink:href="./img/sprite.svg#TV" /></svg>
              </div>
              <span>Телевизоры</span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="svg-accessories">
                <svg>
                  <use xlink:href="./img/sprite.svg#accessories" />
                </svg>
              </div>
              <span>Аксессуары</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
