<header class="header">
  <div class="header-menu">
    <div class="container">
      <nav class="menu">
        <ul class="menu_list">
          <li class="list_item item_svg">
            <a href="#" class="item_link">
              <svg class="svg_home">
                <use xlink:href="./img/sprite.svg#home" />
              </svg>
            </a>
          </li>
          <li class="list_item">
            <a href="#" class="item_link">О компании</a>
          </li>
          <li class="list_item">
            <a href="#" class="item_link">Доставка и оплата</a>
          </li>
          <li class="list_item"><a href="#" class="item_link">Гарантия</a></li>
          <li class="list_item"><a href="#" class="item_link">В кредит</a></li>
          <li class="list_item"><a href="#" class="item_link">Trade in</a></li>
          <li class="list_item"><a href="#" class="item_link">Контакты</a></li>
        </ul>
        <ul class="menu_list">
          <li class="contact_item item_before">
            <div class="item_svg svg_margin">
              <svg class="svg_clock">
                <use xlink:href="./img/sprite.svg#clock" />
              </svg>
            </div>
            <p>Ежедневно с 8:00 до 21:00</p>
          </li>
          <li class="contact_item">
            <div class="item_svg svg_margin">
              <svg class="svg_telephone">
                <use xlink:href="./img/sprite.svg#telephone" />
              </svg>
            </div>
            <a href="tel:+79498454566">+7 949 845 45 66</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-navbar">
    <div class="container">
      <div class="wrap">
        <div class="navbar_logo">
          <svg class="logo_svg"><use xlink:href="./img/sprite.svg#logo" /></svg>
        </div>
        <div class="navbar_catalog">
          <button class="catalog_btn">
            <div class="btn_svg">
              <svg class="svg_square">
                <use xlink:href="./img/sprite.svg#btn_square" />
              </svg>
            </div>
            <p>Каталог товаров</p>
          </button>
        </div>
        <div class="navbar_search">
          <input type="text" class="search" placeholder="Что вы ищите?" />
          <div class="lens">
            <svg class="svg_search">
              <use xlink:href="./img/sprite.svg#search" />
            </svg>
          </div>
        </div>
        <div class="navbar_icons">
          <div class="icons_svg">
            <svg class="svg_user">
              <use xlink:href="./img/sprite.svg#person" />
            </svg>
          </div>
          <div class="icons_svg">
            <svg class="svg_link">
              <use xlink:href="./img/sprite.svg#link" />
            </svg>
          </div>
          <div class="icons_svg">
            <svg class="svg_favorite">
              <use xlink:href="./img/sprite.svg#heart" />
            </svg>
          </div>
          <div class="icons_svg icons_svg-cart">
            <div class="cart-svg">
              <svg class="svg_cart">
                <use xlink:href="./img/sprite.svg#cart" />
              </svg>
            </div>
            <span class="cart_bg-count">2</span>
            <span class="cart_count">58 589₽</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="categories">
    <div class="container">
      <ul class="categories_list">
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-smartphone">
                <svg class="svg_smartphone"><use xlink:href="./img/sprite.svg#smartphone" /></svg>
            </div>
            <span>Телефоны</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-tablet">
                <svg class="svg_tablet"><use xlink:href="./img/sprite.svg#tablet" /></svg>
            </div>
            <span>Планшеты</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-smart-watch">
                <svg class="svg_smart-watch"><use xlink:href="./img/sprite.svg#smart-watch" /></svg>
            </div>
            <span>Часы</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-audio">
                <svg class="svg_audio"><use xlink:href="./img/sprite.svg#audio" /></svg>
            </div>
            <span>Аудио</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-notebook">
                <svg class="svg_notebook"><use xlink:href="./img/sprite.svg#notebook" /></svg>
            </div>
            <span>Ноутбуки</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-game-console">
                <svg class="svg_game-console"><use xlink:href="./img/sprite.svg#game-console" /></svg>
            </div>
            <span>Приставки</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-home">
                <svg class="svg_home"><use xlink:href="./img/sprite.svg#home" /></svg>
            </div>
            <span>Для дома</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-TV">
                <svg class="svg_TV"><use xlink:href="./img/sprite.svg#TV" /></svg>
            </div>
            <span>Телевизоры</span>
          </a>
        </li>
        <li class="categories_list_item">
          <a href="#" class="categories_link">
            <div class="item_svg-accessories">
                <svg class="svg_accessories"><use xlink:href="./img/sprite.svg#accessories" /></svg>
            </div>
            <span>Аксессуары</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
