<section class="catalogs">
	<div class="container">
		<div class="catalogs-wrap">
			<div class="catalogs-text-head">
				<h3>Смартфоны</h3>
			</div>
			<div class="catalogs-mobile">
				<div class="mobile-mark">
					<div class="mark-apple">
						<span>Apple</span>
						<img src="./img/Catalogs/apple.png" alt="Смартфон apple" />
					</div>
					<div class="mark-samsung">
						<span>Samsung</span>
						<img src="./img/Catalogs/samsung.png" alt="Смартфон samsung" />
					</div>
					<div class="mark-xiaomi">
						<span>Xiaomi</span>
						<img src="./img/Catalogs/xiaomi.png" alt="Смартфон Xiaomi" />
					</div>
					<div class="mark-honor">
						<span>Honor</span>
						<img src="./img/Catalogs/honor.png" alt="Смартфон honor" />
					</div>
					<div class="mark-push_buttons">
						<span>Кнопочные</span>
						<img src="./img/Catalogs/pushbutton.png" alt="Телефон push buttons" />
					</div>
				</div>
			</div>
			<div class="catalog">
				<div class="catalog-sidebar">
					<div class="filters sidebar-price">
						<div class="sidebar-text">
							<span>Цена</span>
							<div>
								<svg>
									<use xlink:href="./img/sprite.svg#arrow-bottom" />
								</svg>
							</div>
						</div>
                        <div class="filter">
                            <div class="sidebar_price-range">
                                <div class="sidebar-range"></div>
                            </div>
                            <div class="sidebar_price-input">
                                <input type="text" placeholder="от 0 ₽" />
                                <input type="text" placeholder="до 388 589₽" />
                            </div>
                        </div>
					</div>
					<div class="filters sidebar-brand">
						<div class="sidebar-text">
							<span>Бренд</span>
							<div>
								<svg>
									<use xlink:href="./img/sprite.svg#arrow-bottom" />
								</svg>
							</div>
						</div>
						<div class="filter brand filter-active">
							<div>
								<span>Бренд 1</span>
								<span>(56)</span>
							</div>
							<div>
								<span>Бренд 2</span>
								<span>(56)</span>
							</div>
							<div class="active">
								<span>Бренд 3</span>
								<span>(56)</span>
							</div>
							<div>
								<span>Бренд 4</span>
								<span>(56)</span>
							</div>
						</div>
					</div>
					<div class="filters sidebar-screen">
						<div class="sidebar-text">
							<span>Диагональ экрана</span>
							<div>
								<svg>
									<use xlink:href="./img/sprite.svg#arrow-bottom" />
								</svg>
							</div>
						</div>
						<div class="filter screen-diagonal">
							<label for="four-five">
								<span>4”-5”</span>
								<input type="checkbox" id="four-five" name="check" />
							</label>
							<label for="five-five_point-six">
								<span>5”-5,6”</span>
								<input type="checkbox" id="five-five_point-six" />
							</label>
							<label for="five-six">
								<span>5,6”- 6,2”</span>
								<input type="checkbox" id="five-six" checked />
							</label>
							<label for="more-six">
								<span>Больше 6,2”</span>
								<input type="checkbox" id="more-six" />
							</label>
						</div>
					</div>
					<div class="filters sidebar-stock">
						<div class="sidebar-text">
							<span>Наличие</span>
							<div>
								<svg>
									<use xlink:href="./img/sprite.svg#arrow-bottom" />
								</svg>
							</div>
						</div>
						<div class="filter product-avail">
							<label for="all-products">
								<span>Все товары</span>
								<input type="checkbox" id="all-products" name="check" />
							</label>
							<label for="in-stock">
								<span>В наличии</span>
								<input type="checkbox" id="in-stock" />
							</label>
							<label for="warehouse">
								<span>На складе</span>
								<input type="checkbox" id="warehouse" checked />
							</label>
							<label for="order">
								<span>Под заказ</span>
								<input type="checkbox" id="order" />
							</label>
						</div>
					</div>
				</div>
				<div class="catalog-smartphone">
					<div class="catalog-filters">
						<div class="catalog_filters-brand">
							<span>Бренд</span>
							<div>
								<svg>
									<use xlink:href="./img/sprite.svg#closest" />
								</svg>
							</div>
						</div>
						<div class="catalog_filters-price">
							<span>Сначала дешевые</span>
							<div>
								<svg>
									<use xlink:href="./img/sprite.svg#arrow-bottom" />
								</svg>
							</div>
						</div>
					</div>
                    <div class="catalog-container">
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>

                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="sales-slide catalog-slides">
                            <a href="./products.html" class="slide-information">
                                <div class="information-sales">
                                    <div class="information_sales-img">
                                        <div class="swiper product-slider" id="img-swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете" />
                                                </div>
                                            </div>
                                            <div class="sales-information">
                                                <div class="sales-new">
                                                    <span>Новинка</span>
                                                </div>
                                                <div class="sales-top">
                                                    <span>Топ</span>
                                                </div>
                                                <div class="sales-promo">
                                                    <span>Акция</span>
                                                </div>
                                            </div>
                                            <div class="hover-triggers"></div>
                                            <div class="swiper-scrollbar"></div>
                                        </div>
                                        <div class="information_sales-text">
                                            <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                        </div>
                                    </div>
                                    <div class="information-sales-price">
                                        <div class="sales-price">
                                            <span>184 990 ₽</span>
                                        </div>
                                        <div class="sales-buttons">
                                            <button class="sales-button button-favorite hidden" type="button" title="Кнопка для добавления товара в избранное">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#heart" />
                                                </svg>
                                            </button>
                                            <button class="sales-button button-cart" type="button" title="Кнопка для добавления товара в корзину">
                                                <div class="button_cart-svg">
                                                    <svg>
                                                        <use xlink:href="./img/sprite.svg#cart-sales" />
                                                    </svg>
                                                </div>
                                                <span>в корзину</span>
                                            </button>
                                            <button class="sales-button button-compare hidden" type="button" title="Кнопка для добавление товара в сравнение">
                                                <svg>
                                                    <use xlink:href="./img/sprite.svg#compare" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
