<section class="categories">
	<div class="container categories-container">
        <div class="offers_wrap">
            <div class="section_head-text">
                <div>
                    <h3>Популярные категории</h3>
                </div>
                <div class="desktop-link-hidden">
                    <a href="#" class="desktop-link-hidden">
                        <span>Все категории товаров</span>
                        <div class="svg_arrow">
                            <svg class="svg_icon">
                                <use xlink:href="./img/sprite.svg#arrow-right" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
		<div class="categories-wrapper">
            <div class="categories-first-box">
                <a href="#">
                    <span>Телефоны</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img first-telephone-img">
                        <img src="./img/Category/smartphone.png" alt="Смартфон">
                    </div>
                    <div class="category-img second-telephone-img">
                        <img src="./img/Category/smartphone.png" alt="Смартфон">
                    </div>
                </a>
                <a href="#">
                    <span>Планшеты</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img tablet-img">
                        <img src="./img/Category/tablet.png" alt="Планшет">
                    </div>
                </a>
                <a href="#">
                    <span>Часы</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img smart-watch-img">
                        <img src="./img/Category/smartwatch.png" alt="Смарт-часы">
                    </div>
                </a>
            </div>
			<div class="categories-second-box">
                <a href="#">
                    <span>Аудио</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img audio-img">
                        <img src="./img/Category/audio.png" alt="Колонка">
                    </div>
                </a>
                <a href="#">
                    <span>Ноутбуки</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img notebook-img">
                        <img src="./img/Category/notebook.png" alt="Ноутбук">
                    </div>
                </a>
                <a href="#">
                    <span>Приставки</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img controller-img">
                        <img src="./img/Category/controller.png" alt="Контроллер">
                    </div>
                </a>
                <a href="#">
                    <span>Аксессуары</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img accessories-img">
                        <img src="./img/Category/accessories.png" alt="Акссесуар">
                    </div>
                </a>
            </div>
            <div class="categories-last-box">
                <a href="#" class="category category-last">
                    <span>Для дома</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img fan-img">
                        <img src="./img/Category/fan.png" alt="Фен">
                    </div>
                </a>
                <a href="#" class="category category-last">
                    <span>Телевизоры</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img TV-img">
                        <img src="./img/Category/TV.png" alt="Фен">
                    </div>
                </a>
            </div>
		</div>
        <div class="mobile-link-hidden">
            <a href="#">
                <span>Все категории товаров</span>
                <div class="svg_arrow">
                    <svg class="svg_icon">
                        <use xlink:href="./img/sprite.svg#arrow-right" />
                    </svg>
                </div>
            </a>
        </div>
	</div>
</section>
