<section class="categories">
	<div class="container categories-container">
		<div class="categories-text">
			<div class="categories_text-head">
				<h3>Популярные категории</h3>
			</div>
			<div class="categories_text-link">
				<a href="#" class="head_text-link">
					<span class="text_link-hover">Все категории товаров</span>
					<div class="svg_arrow">
						<svg class="svg_icon">
							<use xlink:href="./img/sprite.svg#arrow-right" />
						</svg>
					</div>
				</a>
			</div>
		</div>
		<div class="categories-wrapper">
            <div class="categories-first-box">
                <a href="#" class="category category-first">
                    <span>Телефоны</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img first-telephone-img">
                        <img class="categories-img" src="./img/telephoneCategory.png" alt="Телефон">
                    </div>
                    <div class="category-img second-telephone-img">
                        <img class="categories-img" src="./img/telephoneCategory.png" alt="Телефон">
                    </div>
                </a>
                <a href="#" class="category category-first">
                    <span>Планшеты</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img tablet-img">
                        <img class="categories-img" src="./img/tabletCategory.png" alt="Планшет">
                    </div>
                </a>
                <a href="#" class="category category-first">
                    <span>Часы</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img smart-watch-img">
                        <img class="categories-img" src="./img/smartwatchCategory.png" alt="Смарт-часы">
                    </div>
                </a>
            </div>
			<div class="categories-second-box">
                <a href="#" class="category category-second">
                    <span>Аудио</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img audio-img">
                        <img class="categories-img" src="./img/audioCategory.png" alt="Колонка">
                    </div>
                </a>
                <a href="#" class="category category-second">
                    <span>Ноутбуки</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img notebook-img">
                        <img class="categories-img" src="./img/notebookCategory.png" alt="Ноутбук">
                    </div>
                </a>
                <a href="#" class="category category-second">
                    <span>Приставки</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img controller-img">
                        <img class="categories-img" src="./img/controllerCategory.png" alt="Контроллер">
                    </div>
                </a>
                <a href="#" class="category category-second">
                    <span>Аксессуары</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img accessories-img">
                        <img class="categories-img" src="./img/accessoriesCategory.png" alt="Акссесуар">
                    </div>
                </a>
            </div>
            <div class="categories-last-box">
                <a href="#" class="category category-last">
                    <span>Для дома</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img fan-img">
                        <img class="categories-img" src="./img/fanCategory.png" alt="Фен">
                    </div>
                </a>
                <a href="#" class="category category-last">
                    <span>Телевизоры</span>
                    <div class="svg_arrow category-svg_arrow">
                        <svg class="icon_svg">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                    <div class="category-img TV-img">
                        <img class="categories-img" src="./img/TVCategory.png" alt="Фен">
                    </div>
                </a>
            </div>
		</div>
	</div>
</section>
