<section class="head_specials">
  <div class="swiper" id="header-swiper">
    <div class="specials_wrapper swiper-wrapper">
      <div class="special_slide swiper-slide">
        <div class="container special_slide-container">
          <div class="slide-text">
            <div class="slide_text-head">
              <h2 class="text-head">iPhone 17 Pro Max</h2>
              <div class="slide_text_head-info">
                <span class="head_info-text">от 115 569</span>
                <a href="#" class="button_outline">Выбрать модель</a>
              </div>
            </div>
            <div class="slide_text-footer">
              <span>*количество товара по акции ограничено</span>
            </div>
            <img
              class="slide_img"
              src="./img/Iphone17pro.png"
              alt="iphone 17 pro max"
            />
            <div class="background-blur"></div>
          </div>
        </div>
      </div>
      <div class="special_slide swiper-slide">
        <div class="container special_slide-container">
          <div class="slide-text">
            <div class="slide_text-head">
              <h2 class="text-head">iPhone 16 Pro Max</h2>
              <div class="slide_text_head-info">
                <span class="head_info-text">от 115 569</span>
                <a href="#" class="button_outline">Выбрать модель</a>
              </div>
            </div>
            <div class="slide_text-footer">
              <span>*количество товара по акции ограничено</span>
            </div>
            <img
              class="slide_img"
              src="./img/Iphone17pro.png"
              alt="iphone 17 pro max"
            />
            <div class="background-blur"></div>
          </div>
        </div>
      </div>
      <div class="special_slide swiper-slide">
        <div class="container special_slide-container">
          <div class="slide-text">
            <div class="slide_text-head">
              <h2 class="text-head">iPhone 15 Pro Max</h2>
              <div class="slide_text_head-info">
                <span class="head_info-text">от 115 569</span>
                <a href="#" class="button_outline">Выбрать модель</a>
              </div>
            </div>
            <div class="slide_text-footer">
              <span>*количество товара по акции ограничено</span>
            </div>
            <img
              class="slide_img"
              src="./img/Iphone17pro.png"
              alt="iphone 17 pro max"
            />
            <div class="background-blur"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="special-button-prev special-button">
      <div class="svg-arrow-left">
        <svg class="icon_svg">
          <use xlink:href="./img/sprite.svg#arrow-right" />
        </svg>
      </div>
    </div>
    <div class="special-button-next special-button">
      <div class="svg-arrow-right">
        <svg class="icon_svg">
          <use xlink:href="./img/sprite.svg#arrow-right" />
        </svg>
      </div>
    </div>
  </div>
</section>
