<section class="new-gadgets">
    <div class="new_gadgets-wrapper">
        <div class="gadget">
            <div class="gadget-inner">
                <div class="gadget-new">
                    <span>Новинка</span>
                </div>
                <div class="gadget-text">
                    <div>
                        <h3>MacBook pro</h3>
                    </div>
                    <div class="gadget_text-detail">
                        <span>Суперсила профессионалов</span>
                    </div>
                    <div>
                        <a href="#">
                            <span>Подробнее</span>
                            <div class="svg_arrow">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#arrow-right" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gadget-img gadget-img-macbook">
                    <img src="./img/Macbookpro.png" alt="MacBook pro">
                </div>
            </div>
        </div>
        <div class="gadget">
            <div class="gadget-inner">
                <div class="gadget-new">
                    <span>Новинка</span>
                </div>
                <div class="gadget-text">
                    <div>
                        <h3>AirPods 3</h3>
                    </div>
                    <div class="gadget_text-detail">
                        <span>Абсолютно новые.</span>
                        <span>С пронстранственным аудио.</span>
                    </div>
                    <div>
                        <a href="#">
                            <span>Подробнее</span>
                            <div class="svg_arrow">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#arrow-right" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gadget-img gadget-img-airpods">
                    <img src="./img/airpods3.png" alt="AirPods3">
                </div>
            </div>
        </div>
        <div class="gadget">
            <div class="gadget-inner">
                <div class="gadget-new">
                    <span>Новинка</span>
                </div>
                <div class="gadget-text">
                    <div>
                        <h3>IPhone 17 PRO max</h3>
                    </div>
                    <div class="gadget_text-detail">
                        <span>Как 16 только в другом дизайне</span>
                    </div>
                    <div>
                        <a href="#">
                            <span>Подробнее</span>
                            <div class="svg_arrow">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#arrow-right" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gadget-img gadget-img-iphone">
                    <img src="./img/iphone17promax.png" alt="Iphone 17 pro max">
                </div>
            </div>
        </div>
    </div>
</section>