<section class="sales">
    <div class="container sales-container">
		<div class="offers_wrap">
			<div class="section_head-text">
				<div>
					<h3>Топ продаж</h3>
				</div>
				<div class="desktop-link-hidden">
					<a href="./catalogs.html">
						<span>Все товары</span>
						<div class="svg_arrow">
							<svg>
								<use xlink:href="./img/sprite.svg#arrow-right" />
							</svg>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="swiper sales-swiper" id="sales-swiper-3">
            <div class="swiper-wrapper sales-wrapper">
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonepurple.png" alt="Айфон в темно-фиолетовом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonepurple.png" alt="Айфон в темно-фиолетовом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonepurple.png" alt="Айфон в темно-фиолетовом цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, темно-фиолетовый</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphoneblack.png" alt="Айфон в черном цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphoneblack.png" alt="Айфон в черном цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphoneblack.png" alt="Айфон в черном цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, черный космос</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonewhite.png" alt="Айфон в серебристом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonewhite.png" alt="Айфон в серебристом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonewhite.png" alt="Айфон в серебристом цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, серебристый</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonegold.png" alt="Айфон в золотом цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, золотой</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonepurple.png" alt="Айфон в темно-фиолетовом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonepurple.png" alt="Айфон в темно-фиолетовом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonepurple.png" alt="Айфон в темно-фиолетовом цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, темно-фиолетовый</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="catalog-img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphoneblack.png" alt="Айфон в черном цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphoneblack.png" alt="Айфон в черном цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphoneblack.png" alt="Айфон в черном цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, черный космос</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide sales-slide">

                    <a href="./products.html" class="slide-information">

                        <div class="information-sales">

                            <div class="information_sales-img">
                                <div class="swiper product-slider" id="img-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonewhite.png" alt="Айфон в серебристом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonewhite.png" alt="Айфон в серебристом цвете">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="./img/sales/iphonewhite.png" alt="Айфон в серебристом цвете">
                                        </div>
                                    </div>
                                    <div class="sales-information">
                                        <div class="sales-new">
                                            <span>Новинка</span>
                                        </div>
                                        <div class="sales-top">
                                            <span>Топ</span>
                                        </div>
                                        <div class="sales-promo">
                                            <span>Акция</span>
                                        </div>
                                    </div>
                                    <div class="hover-triggers"></div>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="information_sales-text">
                                    <span>Apple iPhone 14 Pro Max <br />eSIM 1 ТБ, серебристый</span>
                                </div>
                            </div>
                            <div class="information-sales-price">
                                <div class="sales-price">
                                    <span>184 990 ₽</span>
                                </div>
                                <div class="sales-buttons">
                                    <button class="sales-button button-favorite hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#heart" />
                                        </svg>
                                    </button>
                                    <button class="sales-button button-cart" type="button">
                                        <div class="button_cart-svg">
                                            <svg>
                                                <use xlink:href="./img/sprite.svg#cart-sales" />
                                            </svg>
                                        </div>
                                        <span>в корзину</span>
                                    </button>
                                    <button class="sales-button button-compare hidden" type="button">
                                        <svg>
                                            <use xlink:href="./img/sprite.svg#compare" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mobile-link-hidden">
                <a href="./catalogs.html">
                    <span>Все товары</span>
                    <div class="svg_arrow">
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                </a>
            </div>
		</div>
	</div>
</section>