<section class="speicals_offers">
    <div class="container container_offers">
        <div class="offers_wrap">
            <div class="offers_head-text">
                <h3 class="head-text">Спец предложения</h3>
                <a href="#" class="head_text-link">
                    <span>Все предложения</span>
                    <div class="svg_arrow">
                        <svg class="svg_icon">
                            <use xlink:href="./img/sprite.svg#arrow-right" />
                        </svg>
                    </div>
                </a>
            </div>
            <div class="offers_slider">
                <div class="offer offer-smartphone">
                    <div class="offer_information">
                        <div class="promo">
                            <span>Акция</span>
                        </div>
                        <div class="offer_text">
                            <p>Tecno camon 30 по супер цене</p>
                        </div>
                        <div class="offer_price">
                            <span>от</span>
                            <span>48 999</span>
                        </div>
                        <div class="offer_button">
                            <a href="#" class="button_outline">
                                Выбрать модель
                            </a>
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer_information">
                        <div class="promo"><span>Акция</span></div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer_information">
                        <div class="promo"><span>Акция</span></div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer_information">
                        <div class="promo"><span>Акция</span></div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer_information">
                        <div class="promo"><span>Акция</span></div>
                    </div>
                </div>
                <div class="offer">
                    <div class="offer_information">
                        <div class="promo"><span>Акция</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>