<section class="specials_offers">
	<div class="container">
		<div class="offers_wrap">
			<div class="section_head-text">
				<div>
					<h3>Спец предложения</h3>
				</div>
				<div class="desktop-link-hidden">
					<a href="#">
						<span>Все предложения</span>
						<div class="svg_arrow">
							<svg>
								<use xlink:href="./img/sprite.svg#arrow-right" />
							</svg>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="swiper offer-swiper" id="offer-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide offer-slide slide-smartphone">
					<div class="slide_information">
						<div class="promo">
							<span>Акция</span>
						</div>
						<div class="slide_text">
							<span>Tecno camon 30 по супер цене</span>
						</div>
						<div class="slide_price">
							<span>от</span>
							<span>48 999</span>
						</div>
						<div>
							<a href="#"> Выбрать модель </a>
						</div>
						<div class="offer_slide-img">
							<img src="./img/Offers/smartphone.png" alt="Смартфон" />
						</div>
					</div>
				</div>
				<div class="swiper-slide offer-slide slide-smart-watch">
					<div class="slide_information">
						<div class="promo">
							<span>Акция</span>
						</div>
						<div class="slide_text">
							<span>Какое нынче время? Покупать!</span>
						</div>
						<div class="slide_price">
							<span>от</span>
							<span>48 999</span>
						</div>
						<div>
							<a href="#"> Выбрать модель </a>
						</div>
						<div class="offer_slide-img">
							<img src="./img/Offers/smartwatch.png" alt="Смартфон" />
						</div>
					</div>
				</div>
				<div class="swiper-slide offer-slide slide-case">
					<div class="slide_information">
						<div class="promo">
							<span>Акция</span>
						</div>
						<div class="slide_text">
							<span>Чехольчик на айфончик</span>
						</div>
						<div class="slide_price">
							<span>от</span>
							<span>48 999</span>
						</div>
						<div>
							<a href="#"> Выбрать модель </a>
						</div>
						<div class="offer_slide-img slide-img-case">
							<img src="./img/Offers/case.png" alt="Смартфон" />
						</div>
					</div>
				</div>
				<div class="swiper-slide offer-slide slide-smartphone">
					<div class="slide_information">
						<div class="promo">
							<span>Акция</span>
						</div>
						<div class="slide_text">
							<span>Tecno camon 30 по супер цене</span>
						</div>
						<div class="slide_price">
							<span>от</span>
							<span>48 999</span>
						</div>
						<div>
							<a href="#"> Выбрать модель </a>
						</div>
						<div class="offer_slide-img">
							<img src="./img/Offers/smartphone.png" alt="Смартфон" />
						</div>
					</div>
				</div>
				<div class="swiper-slide offer-slide slide-smartphone">
					<div class="slide_information">
						<div class="promo">
							<span>Акция</span>
						</div>
						<div class="slide_text">
							<span>Tecno camon 30 по супер цене</span>
						</div>
						<div class="slide_price">
							<span>от</span>
							<span>48 999</span>
						</div>
						<div>
							<a href="#"> Выбрать модель </a>
						</div>
						<div class="offer_slide-img">
							<img src="./img/Offers/smartphone.png" alt="Смартфон" />
						</div>
					</div>
				</div>
				<div class="swiper-slide offer-slide slide-smartphone">
					<div class="slide_information">
						<div class="promo">
							<span>Акция</span>
						</div>
						<div class="slide_text">
							<span>Tecno camon 30 по супер цене</span>
						</div>
						<div class="slide_price">
							<span>от</span>
							<span>48 999</span>
						</div>
						<div>
							<a href="#"> Выбрать модель </a>
						</div>
						<div class="offer_slide-img">
							<img src="./img/Offers/smartphone.png" alt="Смартфон" />
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-link-hidden">
				<a href="#">
					<span>Все предложения</span>
					<div class="svg_arrow">
						<svg>
							<use xlink:href="./img/sprite.svg#arrow-right" />
						</svg>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
