<section class="trade-in">
	<div class="trade-in-info">
		<div class="container">
			<div class="trade-in-description">
				<h1>Trade in</h1>
				<p>
					Хотите купить новый телефон, но не знаете, что делать со старым? <a href="">NEVA GSM</a> предлагает
					Вам уникальную услугу обмена вашего старого телефона по системе Trade-In!
				</p>
				<span
					>При совершении покупки в нашем магазине Вы можете сдать в зачет новой покупки свое б/у устройство (
					смартфон, планшет либо другую электронику )</span
				>
				<div class="trade-in-img-first">
					<img src="./img/trade-in/trade-in-img-first.png" alt="Телефон со сломанным экраном" />
				</div>
				<div class="trade-in-img-last">
					<img src="./img/trade-in/trade-in-img-second.png" alt="Целый телефон" />
				</div>
			</div>
		</div>
	</div>
	<div class="trade-in-details">
		<div class="container">
			<h2>Что такое Trade-in?</h2>
			<span
				>Trade-in — программа обмена старых устройств на скидку при покупке нового. При сдаче устройства в
				Trade-in, оно оценивается исходя из актуальности модели, его технического и внешнего состояния. Сумма,
				на которую было оценено устройство, предоставляется пользователю в качестве скидки на приобретение
				нового. <br/>Проще говоря, Вы приносите свой старый телефон нам при самовывозе, сдаете его и тут же получаете
				скидку на покупку нового устройства!
			</span>
			<div>
				<span class="bold">Какими преимуществами обладает Trade-in?</span>
				<ul>
					<li>
						Вам не нужно тратить время на создание объявлений и продажу телефона. Мы просто заберем его у
						вас :)
					</li>
					<li>
						Наша компания берет на себя все риски, связанные с продажей Вашего старого устройства. У вас нет
						повода для беспокойства;
					</li>
					<li>Вы получаете дополнительную скидку на покупку нового устройства.</li>
				</ul>
			</div>
			<div>
				<span class="bold"> Можно ли сдать в Trade-in более одного устройства?</span>
				<span>Да, конечно. Вы можете принести нам хоть целый мешок телефонов :)</span>
				<span class="bold">Как узнать размер дополнительной скидки?</span>
			</div>

			<span
				>Размер скидки рассчитывается индивидуально и зависит от приобретаемого устройства. Вы можете оставить
				заявку или позвонить нам для получения более точной информации.</span
			>
		</div>
	</div>
</section>