.footer {
    background-color: #f0f2f5;
    padding: 20px 0;
    font-family: var(--font-family);
    font-weight: 400;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
}

.container-padding {
    padding: 20px 0 40px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    row-gap: 20px;
    flex: 0 1 471px;
    position: relative;
}

.footer_contacts::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-left: 1px solid #c8cacc;
    height: 247px;
}

.contact_information {
    display: flex;
    gap: 10px;
    font-weight: 500;
}

.nav-arrow_svg, .clock_svg, .telephone_svg {
    width: 100%;
    height: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_contact-svg {
    color: var(--color-svg);
    width: 16px;
    height: 16px;
}

.alert {
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
}

.footer_menu {
    display: flex;
    padding-top: 15px;
    flex: 0 1 760px;
    max-height: 248px;
    justify-content: space-between;
}

.menu_box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.menu_box-text {
    font-weight: 300;
    font-size: 24px;
    color: var(--color-input);
}

.menu_box-flex {
    display: flex;
    gap: 40px;
}

.footer_svg-box {
    width: 20px;
    height: 20px;
}

.menu_box_list_item-link {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_box-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex-wrap: wrap;
}

.copyright {
    background-color: #050708;
    height: 59px;
    color: #9496a3;
    padding-top: 5px;
}