.footer {
    background-color: #f0f2f5;
    padding-top: 20px;
    font-family: var(--font-family);
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    color: var(--color-almost-black);
}

.container-padding {
    padding: 20px 0 40px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    row-gap: 20px;
    flex: 0 1 471px;
    position: relative;

    a {
        font-weight: 400;
    }
}

.footer_contacts::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-left: 1px solid #c8cacc;
    height: 247px;
}

.contact_information {
    display: flex;
    gap: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;

    span {
        font-weight: 500;
    }
}

.footer_contact-svg {
    color: var(--bg-color-blue);
    width: 16px;
    height: 16px;
}

.alert {
    span {
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
    }
}

.footer_menu {
    display: flex;
    padding-top: 15px;
    flex: 0 1 760px;
    max-height: 248px;
    justify-content: space-between;
}

.menu_box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
    h3 {
        font-weight: 300;
        font-size: 24px;
        color: var(--color-input);
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        flex-wrap: wrap;
    }
}

.catalog {
    div {
        display: flex;
        gap: 40px;
    }
}

.footer_svg-box {
    width: 20px;
    height: 20px;
}

.useful-links {
    a {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.copyright {
    background-color: var(--color-almost-black);
    height: 59px;
    padding-top: 5px;

    span {
        color: #9496a3;
        font-weight: 400;
    }
}

@media (max-width: 1400px) {
    .footer_contacts::after {
        display: none;
    }
}

@media (max-width: 992px) {
    .footer {
        padding-top: 10px;
    }

    .footer_wrap {
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    
    .footer_contacts {
        flex: none;
    }
}

@media (max-width: 768px) {
    .footer_menu {
        row-gap: 40px;
        flex-direction: column;
        flex: none;
        max-height: none;
    }
}