.header {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
}

.header-menu {
    display: flex;
    background-color: var(--color-black);
    height: 67px;
    align-items: center;
}

.container {
    padding: 15px 16%;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu_list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.item_before {
    position: relative;
}

.item_before::before {
    display: block;
    content: "";
    position: absolute;
    top: -7px;
    left: -30px;
    z-index: 1;
    height: 32px;
    border-left: 1px solid var(--color-white);
}

.item_svg {
    width: 16px;
    height: 16px;
}

.svg_home, 
.svg_clock, 
.svg_telephone, 
.svg_search,
.svg_user,
.svg_link,
.svg_favorite,
.svg_cart,
.svg_smartphone,
.svg_tablet,
.svg_smart-watch,
.svg_audio,
.svg_notebook,
.svg_game-console,
.svg_TV,
.svg_accessories {
    width: 100%;
    height: 100%;
}

.svg_margin {
    margin-right: 10px;
}

.contact_item {
    display: flex;
}

.header-navbar {
    display: flex;
    height: 78px;
    background-color: #f4f4f4;
}

.navbar_logo {
    width: 246px;
    height: 36px;
}

.navbar_catalog {
    flex: 0 1 180px;
}

.catalog_btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 12px;
    color: #FAFAFA;
    height: 48px;
    width: 100%;
    font-size: 13px;
    background-color: var(--bg-color-blue);
}

.btn_svg {
    width: 20px;
    height: 20px;
    font-weight: 500;
}

.svg_square {
    width: 100%;
    height: 100%;
}

.logo_svg {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 40px;
}

.navbar_search {
    flex: 0 1 480px;
    position: relative;
}

.search {
    width: 100%;
    height: 48px;
    padding: 15px;
    border: 1px solid var(--color-black);
    border-radius: 12px;
    display: flex;
    color: var(--color-black);
}

.lens {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    pointer-events: none;
    &::-webkit-input-placeholder {
        color: var(--color-input);
    }
    
    &:-moz-placeholder {
        /* FF 4-18 */
        color: var(--color-input);
        opacity: 1;
    }
    
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: var(--color-input);
    }
    
    &::placeholder {
        /* modern browser */
        color: var(--color-input);
    }
}

.navbar_icons {
    display: flex;
    flex: 0 1 256px;
    gap: 30px;
}

.icons_svg {
    color: var(--color-black);
    font-weight: 500;
    width: 26px;
    height: 26px;
}

.cart-svg {
    width: 38px;
    height: 26px;
}

.icons_svg-cart {
    display: flex;
    width: 86px;
    position: relative;
}

.cart_bg-count {
    background: #385FDF;
    color: var(--color-white);
    position: absolute;
    text-align: center;
    top: 0;
    padding: 1px 5px;
    right: 60px;
    height: 16px;
    border-radius: 50px;
    font-size: 13px;
}

.cart_count {
    width: 100%;
    align-self: flex-end;
}

.categories_list {
    color: var(--color-black);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.categories_list_item {
    display: flex;
}

.categories_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
}

.item_svg-smartphone {
    width: 32px;
    height: 32px;
}

.item_svg-tablet {
    width: 28px;
    height: 34px;
}

.item_svg-smart-watch {
    width: 34px;
    height: 34px;
}

.item_svg-audio {
    width: 33px;
    height: 24px;
}

.item_svg-notebook {
    width: 37px;
    height: 26px;
}

.item_svg-game-console {
    width: 41px;
    height: 27px;
}

.item_svg-home {
    width: 37px;
    height: 32px;
}

.item_svg-TV {
    width: 42px;
    height: 32px;
}

.item_svg-accessories {
    width: 28px;
    height: 28px;
}



