<section class="contacts-page">
	<div class="container">
		<div class="contacts-info">
			<div class="contacts-info-head">
				<h1>Контакты</h1>
				<div class="contacts-us-info">
					<div class="contacts-phone">
						<h3>Свяжитесь с нами</h3>
						<a href="tel:+79498454566">
							<div>
								<svg>
									<use xlink:href="./img/sprite.svg#contact-phone" />
								</svg>
							</div>
							<span>+7 949 845 45 66</span>
						</a>
					</div>
					<div class="contacts-socials">
						<h3>Социальные сети</h3>
						<a href="#">
							<div>
								<svg class="telegram">
									<use xlink:href="./img/sprite.svg#telegram" />
								</svg>
							</div>
							<span>Написать в <span class="telegram">Telegram</span></span>
						</a>
						<a href="#">
							<div>
								<svg class="whatsapp">
									<use xlink:href="./img/sprite.svg#whatsapp" />
								</svg>
							</div>
							<span>Написать в <span class="whatsapp">WhatsApp</span></span>
						</a>
						<a href="#">
							<div>
								<svg class="vk">
									<use xlink:href="./img/sprite.svg#vk" />
								</svg>
							</div>
							<span>vk.com</span>
						</a>
					</div>
					<div class="contacts-time-work">
						<h3>Режим работы</h3>
						<div>
							<p>Ежедневно с 8:00 до 21:00</p>
							<span>Заявки принимаются круглосуточно</span>
						</div>
					</div>
				</div>
			</div>
            <div class="contact-store">
                <div class="contact-store-text">
                    <div class="store-description">
                        <h2>Фирменный магазин</h2>
                        <p>Можно потрогать все товары в наличии</p>
                    </div>
                    <div class="store-location">
                        <div class="location">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#navigation" />
                                </svg>
                            </div>
                            <span>Санкт-Петербург</span>
                        </div>
                        <p>Чтобы попасть в магазин нужно зайти внутрь ТЙ и идти до кафе-бара, напротив него вход в наш магазин.</p>
                        <a href="#">Проложить маршрут</a>
                    </div>
                    <div class="store-metro">
                        <div class="people">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#people" />
                                </svg>
                            </div>
                            <span>~9 минут от станций метро</span>
                        </div>
                        <ul>
                            <li>
                                <div class="metro-pink">
                                    <svg>
                                        <use xlink:href="./img/sprite.svg#metro" />
                                    </svg>
                                </div>
                                <div>
                                    <svg class="metro-red">
                                        <use xlink:href="./img/sprite.svg#metro" />
                                    </svg>
                                </div>
                                <span>Лубянка (Выход №8)</span>
                            </li>
                            <li>
                                <div>
                                    <svg class="metro-green">
                                        <use xlink:href="./img/sprite.svg#metro" />
                                    </svg>
                                </div>
                                <div>
                                    <svg class="metro-purple">
                                        <use xlink:href="./img/sprite.svg#metro" />
                                    </svg>
                                </div>
                                <span>Площадь Революции (Выход № 11)</span>
                            </li>
                            <li>
                                <div>
                                    <svg class="metro-pink">
                                        <use xlink:href="./img/sprite.svg#metro" />
                                    </svg>
                                </div>
                                <div>
                                    <svg class="metro-blue">
                                        <use xlink:href="./img/sprite.svg#metro" />
                                    </svg>
                                </div>
                                <span>Площадь Революции (Выход № 11)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="store-parking">
                        <div class="store-parking-svg">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#parking" />
                                </svg>
                            </div>
                            <span>Паркинг</span>                           
                        </div>
                        <div class="store-parking-text">
                            <span>При покупке от 4000 – час парковки в “Никольская плаза” в подарок.</span>
                            <span>При покупке от 8000 – два часа парковки в подарок.</span>
                        </div>
                    </div>
                </div>
                <div class="contact-store-map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A47adc7219c0c77ab58b075bd03b7b3afeac7e2f8c6f1b6052e158ed04d870de3&amp;source=constructor" width="625" height="506" frameborder="0"></iframe>
                </div>
            </div>
		</div>
	</div>
</section>
