<section class="contacts">
	<div class="container">
		<div class="contacts-info">
            <div class="contacts-info-head">
                <h1>Контакты</h1>
			<div class="contacts-us-info">
				<div class="contacts-phone">
					<h3>Свяжитесь с нами</h3>
					<a href="tel:+79498454566">
						<div>
							<svg>
								<use xlink:href="./img/sprite.svg#contact-phone" />
							</svg>
						</div>
						<span>+7 949 845 45 66</span>
					</a>
				</div>
				<div class="contacts-socials">
					<h3>Социальные сети</h3>
					<a href="#">
						<div>
							<svg class="telegram">
								<use xlink:href="./img/sprite.svg#telegram" />
							</svg>
						</div>
						<span>Написать в <span class="telegram">Telegram</span></span>
					</a>
					<a href="#">
						<div>
							<svg class="whatsapp">
								<use xlink:href="./img/sprite.svg#whatsapp" />
							</svg>
						</div>
						<span>Написать в <span class="whatsapp">WhatsApp</span></span>
					</a>
					<a href="#">
						<div>
							<svg class="vk">
								<use xlink:href="./img/sprite.svg#vk" />
							</svg>
						</div>
						<span>vk.com</span>
					</a>
				</div>
                <div class="contacts-time-work">
                    <h3>Режим работы</h3>
                    <div>
                        <p>Ежедневно с 8:00 до 21:00</p>
                        <span>Заявки принимаются круглосуточно</span>
                    </div>
                </div>
			</div>
            </div>
		</div>
	</div>
</section>
