<section class="account">
	<div class="container">
		<h1>Личный кабинету</h1>
		<div class="personal-account">
			<div class="btn-account">
				<div class="account-button button-orders account-button-active">
					<span>Заказы</span>
					<div>
						<svg>
							<use xlink:href="./img/sprite.svg#cart" />
						</svg>
					</div>
				</div>
				<div class="account-button button-account">
					<span>Данные покупателя</span>
					<div>
						<svg>
							<use xlink:href="./img/sprite.svg#personal-information" />
						</svg>
					</div>
				</div>
			</div>
			<div class="account-exit">
				<span>Выйти из личного кабинета</span>
			</div>
		</div>
		<div class="account-orders">
			<div class="account-order">
				<div class="order">
					<div class="order-number">
						<p>Заказ №45856958 от 24.11.2024</p>
						<span>В обработке</span>
					</div>
					<div class="information-circle">
						<div class="svg-minus"></div>
						<div class="svg-minus"></div>
					</div>
				</div>
				<div class="order-information">
					<div class="order-information-text">
						<div>
							<img src="./img/product-cart/iphone.png" alt="Айфон" />
						</div>
						<p>
							Apple iPhone 16 Pro Max 256 ГБ, <br />
							«песчаный титановый»
						</p>
					</div>
					<div>
						<span>Песчаный титановый</span>
					</div>
					<div>
						<span>188 500.00 ₽</span>
					</div>
					<div>
						<span>188 500.00 ₽</span>
					</div>
				</div>
			</div>
			<div class="account-order">
				<div class="order">
					<div class="order-number">
						<p>Заказ №45856958 от 24.11.2024</p>
						<span>Завершен</span>
					</div>
					<div class="information-circle information-circle-bg">
						<div class="svg-minus"></div>
						<div class="svg-minus svg-plus"></div>
					</div>
				</div>
				<div class="order-information order-hide">
					<div class="order-information-text">
						<div>
							<img src="./img/product-cart/iphone.png" alt="Айфон" />
						</div>
						<p>
							Apple iPhone 16 Pro Max 256 ГБ, <br />
							«песчаный титановый»
						</p>
					</div>
					<div>
						<span>Песчаный титановый</span>
					</div>
					<div>
						<span>188 500.00 ₽</span>
					</div>
					<div>
						<span>188 500.00 ₽</span>
					</div>
				</div>
			</div>
		</div>
        <div class="account-information order-hide">
            <div class="cart-order-contact-information">
                <h3>Контактные данные</h3>
                <form id="contact-information">
                    <div>
                        <label for="first-name"> Имя </label>
                        <input type="text" placeholder="Введите имя" id="first-name" />
                    </div>
                    <div>
                        <label for="telephone-number"> Телефон </label>
                        <input type="text" placeholder="+7" id="telephone-number" />
                    </div>
                    <div>
                        <label for="email"> Email </label>
                        <input type="text" placeholder="Электронная почта" id="email" />
                    </div>
                    <div>
                        <label for="address"> Адрес доставки </label>
                        <input type="text" placeholder="Куда доставить" id="address" />
                    </div>
                    <div>
                        <label for="note"> Примечание к заказу </label>
                        <input type="text" placeholder="Пожелания к вашему заказу" id="note" />
                    </div>
                    <button type="submit">Сохранить данные</button>
                </form>
            </div>
            <div class="account-information-login">
                <h3>Данные для входа</h3>
                <div class="login-info">
                    <div>
                        <span>Логин</span>
                        <span>agram.aleksandr@gmail.com</span>
                    </div>
                    <div>
                        <label for="password">Новый пароль</label>
                        <input type="password" name="login-password" id="password" placeholder="Введите новый пароль">
                    </div>
                    <div>
                        <label for="password-accept">Подтверждение пароля</label>
                        <input type="password" name="login-password" id="password-accept" placeholder="Повторите пароль">
                    </div>
                </div>
                <div class="btn-chande-password">
                    <span>Сменить пароль</span>
                </div>
                <p>На почту указанную при регистрации придёт подтверждение смены пароля</p>
            </div>
        </div>
	</div>
</section>
