<section class="head_specials">
  <div class="swiper" id="header-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container special_slide-container">
          <div class="slide-text">
            <div>
              <h2>iPhone 17 Pro Max</h2>
              <div class="slide_text_head-info">
                <span>от 115 569</span>
                <a href="./catalogs.html">Выбрать модель</a>
              </div>
            </div>
            <div class="slide_text-footer">
              <span>*количество товара по акции ограничено</span>
            </div>
            <div class="slide_img">
              <img
              src="./img/Iphone17pro.png"
              alt="iphone 17 pro max"
            />
            </div>
            
            <div class="background-blur"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide-hidden">
        <div class="container special_slide-container">
          <div class="slide-text">
            <div>
              <h2>iPhone 16 Pro Max</h2>
              <div class="slide_text_head-info">
                <span>от 115 569</span>
                <a href="./catalogs.html">Выбрать модель</a>
              </div>
            </div>
            <div class="slide_text-footer">
              <span>*количество товара по акции ограничено</span>
            </div>
            <div class="slide_img">
              <img
              src="./img/Iphone17pro.png"
              alt="iphone 16 pro max"
            />
            </div>
            <div class="background-blur"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide-hidden">
        <div class="container special_slide-container">
          <div class="slide-text">
            <div>
              <h2>iPhone 15 Pro Max</h2>
              <div class="slide_text_head-info">
                <span>от 115 569</span>
                <a href="./catalogs.html">Выбрать модель</a>
              </div>
            </div>
            <div class="slide_text-footer">
              <span>*количество товара по акции ограничено</span>
            </div>
            <div class="slide_img">
              <img
              src="./img/Iphone17pro.png"
              alt="iphone 15 pro max"
            />
            </div>
            <div class="background-blur"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="special-button-prev special-button">
      <div class="svg-arrow-left">
        <svg>
          <use xlink:href="./img/sprite.svg#arrow-right" />
        </svg>
      </div>
    </div>
    <div class="special-button-next special-button">
      <div class="svg-arrow-right">
        <svg>
          <use xlink:href="./img/sprite.svg#arrow-right" />
        </svg>
      </div>
    </div>
  </div>
</section>
