<section class="deliveries_payment">
    <div class="container">
        <div class="payment">
            <h1>Доставка и оплата</h1>
            <span>
                Здесь вы найдёте всю необходимую информацию о том, как мы доставляем ваши заказы и какие способы оплаты доступны. Мы стремимся сделать процесс покупки максимально удобным и безопасным для вас. Ознакомьтесь с условиями доставки, выберите подходящий способ оплаты и оформите заказ всего за несколько шагов. Если у вас возникнут вопросы, <a href="#">наша служба</a> поддержки всегда готова помочь.
            </span>
            <ol>
                <li><a href="#">Доставка по Санкт петербургу</a></li>
                <li><a href="#">Доставка по России</a></li>
                <li><a href="#">Как оплатить</a></li>
                <li><a href="#">Наложенный платёж</a></li>
            </ol>
        </div>
        <div>
            <h3>Доставка по Москве и МО</h3>
             <ul>
                <li>
                    Доставка осуществляется ТК СДЭК в течении 1-3 рабочих дней с момента согласования заказа с менеджером. <br/> При заказе от 5000 рублей доставка осуществляется бесплатно!
                </li>
                <li>Стоимость и способ срочной доставки (в день оформления заказа) рассчитывается индивидуально с менеджером.</li>
             </ul>
             <span>В соответствии со статьей № 497 ГК РФ п.4, в случае отказа от товара надлежащего качества при выполненной доставке покупатель обязан возместить продавцу расходы, понесенные от выполнения заказа (т.е. оплатить доставку).</span>
        </div>
        <div>
            <h3>Доставка по России</h3>
            <span>Стоимость и сроки доставки рассчитываются по тарифам ТК СДЭК. <a href="https://www.cdek.ru/ru/">https://www.cdek.ru/ru/</a><br/>
                Так же возможно доставка наложенным платежом силами ТК СДЭК.<br/>
                Доставка до филиала Транспортной компании в Москве осуществляется за Наш счет!</span>
        </div>
        <div>
            <h3>Как оплатить</h3>
            <span>Все варианты оплаты</span>
        </div>
        <div>
            <h3>Доставка наложенным платежом почтой России не производится.</h3>
            <span>Если покупатель отказывается платить, то посылка возвращается отправителю и мы несем убытки за двойную пересылку. <br/>Почему нам можно доверять? <br/>мы продаем не только через интернет магазин, <br/>а так же через розничную сеть. Вы можете приехать купить или забрать оплаченный товар самовывозом.</span>
        </div>
    </div>
</section>